*{
margin: 0; padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
}

.navbar-nav li a{
	color: black;
}

header{
 width: 100%;
 height: 100vh;
 background-image: url('../static/bg.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;

}

main{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

main .right-sec{
 padding-right: 70px;
}

main .left-sec{
 padding-left: 100px;
}

figure{
	padding-top: 20%;
}

.left-sec h2{
 font-size: 20px;
 text-transform: capitalize;
 font-weight: lighter;
 color: #242424;
 margin-top: 100px;
}

.left-sec h1{
 font-size: 55px;
 text-transform: capitalize;
 font-weight: 700;
 margin: 15px 0;
}

.left-sec p{
 margin-bottom: 20px;
}

.left-sec button{
 padding: 15px 45px;
 text-align: center;
 font-size: 14px;
 color: #fff;
 border: none;
 background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
 border-radius: 10px;
}

/*something*/

#h{
	color: #0070fa;
}


.header-extradiv{
	width:100% ;
	height: auto;
	margin: 100px 0;
	text-align: center; 
}

.extra-div{
	background: #fff;
	border: medium none;
	padding: 50px!important;
	border-radius: 3px;
	transition: 0.3s;
}

.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	transform: translateY(-20px);
}

/*footer*/

.footersection{
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	background: #00abff;
	position: relative;
}

.footersection p{
	color: #fff;
}

.footersection li a{
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	text-transform: capitalize;

}